<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="vue.global.js"></script>

    <link rel="stylesheet" href="style.css">

    <title>Login Page</title>

</head>
<body>

    <div id="app">
        
        <div class="backg">

            

            <form class="forms">

                <img class="cadeado" src="cadeado.png" alt="cadeado">

                <label class="texts" for="newUsername">Nome de Usuário:</label><br>
                <input id="email" type="text" v-model="newUsername" required placeholder="Type your username here" ><br><br>

                <label class="texts" for="newPassword">Senha:</label><br>
                <input id="email" type="password" v-model="newPassword" placeholder="Type your password here"><br><br>

                <label class="texts" for="confirmPassword">Confirme sua senha:</label><br>
                <input id="email" type="password" v-model="confirmPassword" placeholder="Repeat your password here"><br><br>

                <button class="submit" type="submit" @click.prevent="loginArray">Submit</button>

                

            </form>

            <button class="submit" @click="paginaCadastro">Cadastrar</button>

            <p class="error" :class="{entrada:mostrarEntrada}">{{error}}</p>
            <p class="sucess" :class="{entrada:mostrarEntrada}">{{sucesso}}</p>

        </div>

    </div>

    <script src="process.js"></script>


</body>
</html>

