@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    background: linear-gradient(#324e70, #29188a);
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* box-sizing: border-box; */
}

html {
    height: 100%;
}

.backg {
    width: 600px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-top: 85px;
    margin-left: 500px;
    box-shadow: 1px 2px 5px #010101;
}

.forms {
    margin-top: 40px;
    /* margin-left: 10px; */
}

.texts {
    font-size: 25px;
    color: #f1f1f1;
    margin-left: 125px;
    margin-top: 10px;
}

#email {
    margin-left: 10px;
    border-radius: 10px;
    width: 300px;
    height: 35px;
    margin-left: 125px;
    box-shadow: 1px 2px 5px #010101;
    padding-left: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}

.submit {
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.4s;
    background-color: #0a8730;
    border-radius: 5px;
    border: 2px solid #0a8730;
    cursor: pointer;
    color: #111;
    padding: 16px 32px;
    width: 350px;
    margin: 4px 2px; 
    text-align: center;
    margin-left: 120px;
    margin-top: 30px;
    transition: all .35s; 

    
}



.submit:hover {
    background-color: #f2f2f2;
    color: #111;

}



.cadeado {
    display: flex;
    margin: auto;
    max-width: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

.error{
    color: #ff003b;
    text-decoration: underline;
    font-weight: bold;
    margin-top: 0%;
    margin-left: 30%;
}

.sucess{
    color: #0a8730;
    text-decoration: underline;
    font-weight: bold;
    margin-top: 0%;
    margin-left: 30%;
    
}

*::selection{
    color: #fff;
    background-color: #ff003b;
}