body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
}

header {
	background-color: #121566;
	color: #fff;
	padding: 10px;
}

h1 {
    margin: 0;
    margin-right: 10px;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: right;
}

nav li {
	display: inline-block;
	margin-right: 10px;
}

nav a {
	color: #fff;
	text-decoration: none;
	font-size: 20px;
}

main {
	padding: 20px;
}

footer {
	background-color: #121566;
	color: #fff;
	padding: 10px;
	text-align: center;
}

a {
    position: relative;
    color: #f2f2f2;
    text-decoration: none;  
}

a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0px;
    left: 0;
    background-color: #f2f2f2;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    
}

a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* Estilos para telas menores do que 768px */

@media (max-width: 768px) {
	header {
		text-align: center;
	}

	nav {
		display: block;
		margin-bottom: 10px;
	}

	nav ul{
		text-align: center;
	}

	nav li {
		display: block;
		margin-right: 0;
		margin-bottom: 5px;
	}

	main {
		font-size: 16px;
		padding: 10px;
	}
}


