<!DOCTYPE html>
<html lang="pt-br">
    <head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TESTANDO V-FOR</title>

    <script src="vue.global.js"></script>

    <link rel="stylesheet" href="style.css">

    </head>
<body>

    <div id="app">

        <header class="header-container">

            <h1>Testando V-FOR</h1>

            <nav>
                <ul>

                    <li>Home</li>
                    <li>Contato</li>

                </ul>

            </nav>

        </header>

        <main>

            <h2> Melhores listas online testar</h2>
            <p>Teste já as melhores listas online</p>

            <button @click="showItens">
            {{show ? 'Ocultar Lista!' : 'Mostrar Lista!'}}
            </button><!--fechamento button-->

            <ul v-if="show">

                <h3>Lista completa:</h3>

                <li v-for="item in itens">{{item}}


                </li> <!--fechamento li-->

            </ul> <!--fechamento ul-->

                <ol v-if="show">

                    <h3>Lista com filtros:</h3>

                    <li v-for="item in itens" v-bind:class="{filtro: item == 'Bola'}">

                        {{item == 'Bola' || item == 'Tenis' ? 'Item: ' + item : null}}
                        
                    </li>

                </ol>

        </main ><!--fechamento main-->

    </div><!--Fechamento div principal-->

    <script src="process.js"></script>

</body>
</html>