body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #44828d;
    color: #fff;
    padding: 20px;

}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    
}

nav li {
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
}

nav li a {
    color: #fff;
    text-decoration: none;
    
}

main {
    margin-left: 10px;
}

button {
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.4s;
    background-color: #febe01;
    border-radius: 5px;
    border: 2px solid #febe01;
    cursor: pointer;
    color: #111;
    padding: 16px 32px;
    width: 300px;
    margin: 4px 2px; 
    text-align: center;
    margin-left: 37%;

}

button:hover{
    background-color: #f2f2f2;
    color: #111;
    transition: 10000ms;
    transform: scaleX(10);
    transform: scaleY(5 );

}

h3 {
    display: flex;
    align-content: center;
}

.filtro {
    list-style-type: none;
}
