* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    color: rgb(224, 224, 224);
}

body {
    background: rgb(136,0,255);
    background: linear-gradient(90deg, rgba(136,0,255,1) 0%, rgba(97,9,121,1) 35%, rgba(132,0,255,1) 100%);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    color: white;
    font-size: large;
  }

  label {
    margin-bottom: 10px;
  }

  input {
    width: 300px;
    height: 30px;
    margin-bottom: 20px;
    padding-left: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: large;
  }

  button {
    width: 100px;
    height: 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
  }

  button:hover {
    background-color: #45a049;
  }

  /* Estilos para a página */
  body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }

  .cadeado {
    display: block;
    margin: auto;
    max-width: 7%;
    margin-top: 2%;
  }
  
  h1 {
    text-align: center;
    margin-top: 20px;
    color: white;
  }

  .final {
    text-align: center;
    margin-top: 44px;
    color: white;
    font-size: 100%;
  }

  /* Estilos para o botão */
      .theme-button {
        position: fixed;
        bottom: 20px;
        right: 30px;
        width: 110px;
        height: 30px;
        background-color: #14ac00;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }

      .theme-button:hover {
        background-color: #00b953;
      }

      /* Estilos para o tema escuro */
      body.dark-theme {
        background: rgb(94, 94, 94);
        background: linear-gradient(90deg, rgb(94, 93, 93) 0%, rgb(77, 77, 77) 35%, rgb(34, 34, 34) 100%);
        color: #f2f2f2;
      }