body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #44828d;
    color: #fff;
    padding: 20px;

}

h1 {
    margin: 0;
    display: inline;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

nav li {
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
}

nav li a {
    color: #fff;
    text-decoration: none;
    
}

main {
    padding: 20px;
}

footer {
    background-color: #44828d;
    color: #fff;
    padding: 20px;
    text-align: center;
}

button {
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.4s;
    background-color: #febe01;
    border-radius: 5px;
    border: 2px solid #febe01;
    cursor: pointer;
    color: #111;
    padding: 16px 32px;
    width: 300px;
    margin: 4px 2px; 
    text-align: center;
    margin-left: 37%;

}

button:hover{
    background-color: #f2f2f2;
    color: #111;
}

h2 {
    margin-left: 28%;
}

.down{
    margin-left: 40%;
    font-size: 20px;
    text-decoration: underline;
    color: darkblue
    
}

img {
    width: 500px;
    height: 500px;
    margin-left: 30%;
}

a {
    position: relative;
    color: #f2f2f2;
    text-decoration: none;  
}

a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #f2f2f2;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* Estilos para telas menores do que 768px */

@media (max-width: 768px) {
	header {
		text-align: center;
	}

	nav {
		display: block;
		margin-bottom: 10px;
	}

	nav ul{
		text-align: center;
	}

	nav li {
		display: block;
		margin-right: 0;
		margin-bottom: 5px;
	}

	main {
		font-size: 16px;
		padding: 10px;
	}

    h2{
        margin-left: 20px;
        font-size: 130%;
    }

    button{
        margin-left: 15%;
    }

    img {
        width: 300px;
        height: 300px;
        margin-left: 15%;
    }

    .down{
        margin-left: 25%;
    }
}

