<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste VIF</title>
    <script src="vue.global.js"></script>
    <link rel="stylesheet" href="main.css">

</head>
    <body>
        <div id="app" class="app">
            <div>

                <span v-if="testeSpan">Funcionou nosso exemplo!</span>

                <button @click="handleTest">Teste</button>

            </div><!--Fim da div-->

            <div>
                
                <button @click="toggleLampada">
                    {{isLampadaLigada ? 'Desligar' : 'Ligar'}}

                </button>
                <br>

                <img v-if="isLampadaLigada" src="/Teste_VIF/imagens/On.png" alt="off"/>
                <img v-else="isLampadaLigada" src="/Teste_VIF/imagens/Off.png" alt="on"/>''''

            </div><!--Fim da div-->

        </div><!--Fim da div principal-->

        <script src="process.js"></script>
</body>
</html>