.app {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
}

body {
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

button {
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.4s;
    background-color: #febe01;
    border-radius: 5px;
    border: 2px solid #febe01;
    cursor: pointer;
    color: #111;
    padding: 16px 32px;
    width: 300px;
    margin: 4px 2px; 
    text-align: center;
}

button:hover {
    background-color: #f2f2f2;
    color: #111;
}

span {
    color: #f2f2f2;
}