.calculadora{
    position: fixed;
    top:50%;
    left:50%;
    background-color: rgb(169, 0, 0);
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-tracks: center;
    font-size: 7rem;
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(rgb(61, 57, 57), rgb(49, 46, 46));
    border: 5px solid #000000;
    border-radius:10px;
    padding: 20px;
    height: 600px;

}/*Fechamento calculadora*/

.tela{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 5rem;
    width: 85%;
    height: 80px;
    margin-bottom: 20px;
    border: 3px solid #000000; 
    padding:20px;
    border-radius: 10px;
    background-color: #8a8a8e;
    color:aliceblue

} /*fechamento tela*/

.botao{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}/*fechamento botao*/

.linha{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding: -2px;
}/*fechamento coluna*/

button {
    margin: 5px;
    width: 70px;
    height: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius: 100px;
}

button:hover{
    background: #0000f0;
}

.operadores{
    background-color: rgb(0, 0, 255);
    color: rgb(255, 255, 255);
    border: 2px solid;
}/*fechamento operadores*/

.outros{
    background-color: rgb(255, 0, 0);
    color: rgb(11, 10, 10);
    border: 2px solid;
}

.Clear{
    background-color: rgb(255, 0, 0);
    color: rgb(11, 10, 10);
    border: 2px solid;
    width: 230px;
    cursor: pointer;
}

button:active{
    background: white;
}