body{
    font-family: Arial, sans-serif;
}


h1{
    text-align: center;
}

div{
    background-color: #111;
    border-radius: 4px;
    width: 3000px;
    height: fit-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

span{
    color: #febe01;
}

h2{
    color: #b2b2b2;
    font-size: 20px;
    padding: 10px;
}

p{
    color: #b2b2b2;
    font-size: 10px;
}

button{
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.4s;
    background-color: #febe01;
    border-radius: 5px;
    border: 2px solid #febe01;
    cursor: pointer;
    color: #111;
    padding: 16px 32px;
    width: 300px;
    margin: 4px 2px; 
    text-align: center;
}

button:hover{
    background-color: #f2f2f2;
    color: #111;
}

img{
    width: 1080px;
    height: 480px;
    color: azure;
    font-weight: bold;
    margin: 10px;
    border-radius: 50px ;
}



